<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 延迟加载总开关 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <setting name="logPrefix" value="dao."/>

    </settings>
    <typeAliases>
        <package name="com.until"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver" />-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/test?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull" />-->
                <!--<property name="username" value="root" />-->
                <!--<property name="password" value="root" />-->
            <!--</dataSource>-->
            <dataSource type="com.bean.C3P0DataSourceFactory">
                <property name="driverClass" value="com.mysql.jdbc.Driver" />
                <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test" />
                <property name="user" value="root" />
                <property name="password" value="root" />
                <property name="idleConnectionTestPeriod" value="60" />
                <property name="maxPoolSize" value="20" />
                <property name="maxIdleTime" value="600" />
                <property name="preferredTestQuery" value="SELECT 1" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 配置接口 -->
        <!--<mapper class="com.fz.mapper.BookMapper"/>-->
        <!-- 映射配置文件 -->
        <!-- <mapper resource="com/User_loginMappper.xml"/>-->
         <!-- 指定mapper接口所在的包 -->
        <package name="com.Dao"/>
    </mappers>
</configuration>